html{
    /*font-size: 1.1rem;*/
    font-weight: 300;
}

nav{
    /*font-size: 1.2rem;*/
    font-weight: 400;
}

.caption{
    font-weight: 300;
}

#setlist-container div > h5{
    padding: 1rem;
    background-color: #01458e;
    color: white;
    text-align: center;
}

#edit-song-modal{
    width: 450px;
}
