html{
    /*font-size: 1.1rem;*/
    font-weight: 300;
}

nav{
    /*font-size: 1.2rem;*/
    font-weight: 400;
}

.caption{
    font-weight: 300;
}

#edit-song-modal, #add-event-modal{
    width: 500px;
}

#add-event-container{
    margin-top: 1rem;
    border:2px dashed grey;
    height:5rem;
    cursor: pointer;
}

#add-event-container span{
    font-size: 1.2rem;
}

.collapsible-header{
    font-size: 1.2rem;
}

.collapsible-header.active{
    background-color: #01458e;
    color: white;
}

.dropdown-content, .dropdown-content.active {
    width: 12rem !important;
}

#setlist-container div > h6{
    font-size: 1.2rem;
    color: white;
    text-align: center;
    height: 4.5rem;
    padding: 1rem;
    background-color: #01458e;
}

.info{
    border-left: 5px solid #009688;
    background-color: #e7f5f4;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
